body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Red Hat Display, sans-serif;
}

img {
  width: 100%;
}

.order-sum h1 {
  font-size: 25px;
  text-align: center;
  color: hsl(223, 47%, 23%);
  font-family: Red Hat Display, sans-serif;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.plan-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 40px;
  height: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.plan-name {
  font-weight: bold;
  color: hsl(223, 47%, 23%);
}

.plan-price {
  color: hsl(224, 23%, 55%);
}

.change-link {
  color: hsl(245, 75%, 52%);
  font-weight: bold;
  text-decoration: underline;
}

.change-link:hover {
  text-decoration: underline;
}

.price h3 {
  color: hsl(223, 47%, 23%);
}

.plan-type,
.plan-price {
  margin: 0;
}
.description p {
  font-size: 16px;
  font-weight: 500;
  font-family: Red Hat Display, sans-serif;
  color: grey;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pay {
  font-size: 25px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
}

.cancel {
  background: none;
  color: grey;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;
  font-size: 20px;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 7px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
